.noData {
    background-image:
    linear-gradient(to top, rgb(168, 28, 28, 0.2), rgba(255, 255, 255, 1));
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 30px;
}

.info {
    margin-bottom: 60px;
}

.header {
    font-size: 30px;
    color: rgb(168, 28, 28);
    margin-bottom: 0px;
}

.paragraph {
    font-size: 20px;
    color: rgb(136, 24, 24);
}

.link {
    background-color: rgb(168, 28, 28);
    color: white;
    border-radius: 8px;
    padding: 10px;
    max-width: 8vw;
    text-decoration: none;
}

.link:hover{
    background-color: white;
    color: rgb(168, 28, 28);
}