.detailsComponent {
    width: 1200px;
    border-radius: 30px;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    -webkit-box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91); 
    box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91);
}


.hotelImgWrap {
    padding-right: 30px;
    border-right: 5px solid darkgray;
    max-width: 600px;
    max-height: 600px;
}

.hotelImg {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.detailsContent {
    max-width: 500px;
}

.hotelDetails {
    padding: 20px;
    width: 460px;
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(0, 0, 65, 0.2));
    background-color: rgb(228, 222, 196);
    padding-bottom: 0px;
}

.description {
    width: 50px;
}

.addresInfo {
    padding-left: 0px;
}

.list {
    list-style: none;
    display: flex;
    align-content: center;
    margin: 0 10px;
}

.townIcon {
    margin-top: 18px;
    margin-right: 15px;
}

.addressIcon {
    margin-top: 18px;
    margin-right: 15px;
}

.stars {
    color: gold
}

.buttonText {
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: green;
    width: 70px;
    color: white;
    text-align: center;
}



