<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./add-hotel-page.css">
    <title>ADD HOTEL</title>
</head>
<body>
    <!-- NAVIGATION COMPONENT -->
    <header class="wrap">
        <section class="nav-wrapper">
            <article class="logo-wrap">
                <h4>jShel</h4>
            </article>
        
            <article class="center-links">
                    <nav>
                        <ul class="center-ul">
                            <!-- All USERS -->
                            <!-- FOR AUTHENTICATED AND GUEST ARE WITH DIFFERENT ROUTE AND PAGES -->
                            <li>
                                <a href="#">HOME</a>
                            </li>
            
                            <!-- AUTHENTICATED USERS -->
                            <li>
                                <a href="#">ADD HOTEL</a>
                            </li>
                            <li>
                                <a href="#">MY PROFILE</a>
                            </li>
                            <li>
                                <a href="#">FAVOURITES</a>
                            </li>
                        </ul>
                    </nav>
            </article>
        
            <article class="right-links">
                <nav>
                    <ul class="right-ul"> 
                        <!-- GUEST USERS -->
                        <li>
                            <a href="#">LOGIN</a>
                        </li>
                        <li>
                            <a href="#">REGISTER</a>
                        </li>
        
                        <!-- AUTHENTICATED USERS -->
                        <li>
                            <a href="#">HALLO @username</a>
                        </li>
                        <li>
                            <a href="#">LOGOUT</a>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>

    <main>
        <!-- CREATE FORM COMPONENT -->
        <section class="add-hotel-wrapper">
            <form>
                <article class="form-header">
                    <h1>ADD HOTEL</h1>
                </article>
                <label for="name">
                    <input type="text" name="name" placeholder="Add name">
                </label>
                <label for="imageUrl">
                    <input type="text" name="imageUrl" placeholder="Paste Image URL">
                </label>
                <label for="description">
                    <input type="text" name="description" placeholder="Write description">
                </label>
                <label for="town">
                    <input type="text" name="town" placeholder="Add town">
                </label>
                <label for="adress">
                    <input type="text" name="adress" placeholder="Add adress">
                </label>
                <select name="stars" id="stars" aria-placeholder="Select stars">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="public" class="public">
                    Public
                    <input type="checkbox">
                </label>
                <input type="submit" value="CREATE">
            </form>
            <article class="icon-wrapper">
                <i class="fas fa-hammer"></i>
            </article>

            <article class="error">
                <p>ERROR MESSAGE</p>
            </article>
        </section>
    </main>

    <!-- FOOTER COMPONENT -->
    <footer>
        <p>
            Darin Polizanov &copy;
        </p>
    </footer>
</body>
</html>