.goldenAreaComponent {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(148, 134, 65, 0.2));
    background-color: rgb(228, 222, 196);
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.areaComponent {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.headerWrapper {
    display: flex;
    justify-content: space-around;
}

.goldenHeader {
    padding-top: 10px;
    border-top: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.header {
    padding-top: 10px;
    border-top: 4px solid darkgray;
    color: darkgray;
    font-size: 30px;
}

.hotelsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    flex-wrap: wrap;
}