@import url('../body/body.css');
@import url('../nav/nav.css');
@import url('../footer/footer.css');


/* MY PROFILE PAGE COMPONENT */
.profile-page-wrap {
    border-radius: 30px;
    padding: 30px;
    max-width: 1400px;
    margin: 200px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    -webkit-box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91); 
    box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91);
    position: relative;
}

.person-content {
    margin-top: 200px;
}

.person-content h1 {
    font-size: 30px;
    color: darkgray;
}

.person-content p {
    font-size: 20px;
    color: darkgray;
}

.post {
    border-radius: 8px;
    padding: 8px;
    border: 3px solid rgb(129, 30, 30);
}

.person-image {
    border-radius: 500px;
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    top: -125px;
    left: 80px;
    -webkit-box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91); 
    box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91);
}

.person-image img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.person-data {
    max-width: 1000px;
}

/* <!--MY AREA COMPONENT --> */
.my-area-component {
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.component-header {
    display: flex;
    justify-content: space-around;
}

.component-header h1 {
    padding-top: 10px;
    border-top: 4px solid darkgray;
    color: darkgray;
    font-size: 30px;
}

.hotel-icon {
    position: absolute;
    bottom: 100px;
    left: -119px;
    font-size: 200px;
    color: rgba(129, 119, 119, 0.397);
}

.hotels-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    flex-wrap: wrap;
}


/* <!-- CURRENT HOTEL COMPONENT --> */
.hotel {
    background-color: white;
    width: 300px;
    height: 350px;
    margin: 0px 10px 30px 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42); 
    box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42);
}

.hotel-image-wrap {
    max-width: 300px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
}

.hotel-image-wrap img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
}

#center{
    text-align: center;
}

.see-more-btn {
    display: flex;
    justify-content: space-around;
}

.see-more-btn a {
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: rgb(238,216,108);
}

.see-more-btn a:hover {
    background-color: rgb(238,216,108);
    color: white;
}

/* NO DATA COMPONENT */
.no-data-component {
    background-image:
    linear-gradient(to top, rgb(168, 28, 28, 0.2), rgba(255, 255, 255, 1));
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 30px;
}

.info {
    margin-bottom: 60px;
}

.info h1 {
    font-size: 30px;
    color: rgb(168, 28, 28);
    margin-bottom: 0px;
}

.info p {
    font-size: 20px;
    color: rgb(136, 24, 24);
}

.add-button a {
    background-color: rgb(168, 28, 28);
    color: white;
    border-radius: 8px;
    padding: 10px;
    max-width: 8vw;
    text-decoration: none;
}

.add-button a:hover {
    background-color: white;
    color: rgb(168, 28, 28);
}

.no-data-wrap-icon {
    padding-bottom: 50px;
}

.no-data-wrap-icon i {
    font-size: 150px;
    color: rgba(168, 28, 28, 0.603);
}