<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login-page.css">
    <title>Login page</title>
</head>
<body>
        <!-- NAVIGATION COMPONENT -->
        <header class="wrap">
            <section class="nav-wrapper">
                <article class="logo-wrap">
                    <h4>jShel</h4>
                </article>
            
                <article class="center-links">
                        <nav>
                            <ul class="center-ul">
                                <!-- All USERS -->
                                <!-- FOR AUTHENTICATED AND GUEST ARE WITH DIFFERENT ROUTE AND PAGES -->
                                <li>
                                    <a href="#">HOME</a>
                                </li>
                
                                <!-- AUTHENTICATED USERS -->
                                <li>
                                    <a href="#">ADD HOTEL</a>
                                </li>
                                <li>
                                    <a href="#">MY PROFILE</a>
                                </li>
                                <li>
                                    <a href="#">FAVOURITES</a>
                                </li>
                            </ul>
                        </nav>
                </article>
            
                <article class="right-links">
                    <nav>
                        <ul class="right-ul"> 
                            <!-- GUEST USERS -->
                            <li>
                                <a href="#">LOGIN</a>
                            </li>
                            <li>
                                <a href="#">REGISTER</a>
                            </li>
            
                            <!-- AUTHENTICATED USERS -->
                            <li>
                                <a href="#">HALLO @username</a>
                            </li>
                            <li>
                                <a href="#">LOGOUT</a>
                            </li>
                        </ul>
                    </nav>
                </article>
            </section>
        </header>
    
        <main>
            <!-- LOGIN FORM COMPONENT -->
            <section class="login-wrapper">
                <form>
                    <article class="form-header">
                        <h1>LOGIN</h1>
                    </article>
                    <label for="username">
                        <input type="text" name="username" placeholder="Username">
                    </label>
                    <label for="password">
                        <input type="password" name="password" placeholder="Password">
                    </label>
                    <input type="submit" value="LOGIN">
                </form>
                <article class="icon-wrapper">
                    <i class="fas fa-user-lock"></i>
                </article>
    
                <article class="error">
                    <p>ERROR MESSAGE</p>
                </article>
            </section>
        </main>
    
        <!-- FOOTER COMPONENT -->
        <footer>
            <p>
                Darin Polizanov &copy;
            </p>
        </footer>
</body>
</html>