@import url('../body/body.css');
@import url('../nav/nav.css');
@import url('../footer/footer.css');

/* LOGIN FORM COMPONENT */
.login-wrapper {
    border-radius: 30px;
    max-width: 45vw;
    margin: 50px auto;
    padding: 0px 80px 80px 60px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-image:
    linear-gradient(to top, rgba(85, 49, 153, 0.2), rgba(143, 30, 218, 0.8)),
    url('../images/login-register-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91); 
    box-shadow: 3px 4px 42px -10px rgba(0,0,0,0.91);
    position: relative;
}

.login-wrapper form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.form-header h1{
    padding-top: 10px;
    margin-bottom: 50px;
    border-top: 4px solid white;
    color: white;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    background-color: rgba(255, 255, 255, 0.555);
    width: 15vw;
    border-radius: 10px;
    color: rgb(7, 87, 4);
    border-style: none;
    padding: 6px;
    margin: 10px;
}

.public {
    text-align: center;
    color: white;
    font-weight: bold;
}

input[type="submit"] {
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.555);
    color: black;
    font-weight: bold;
    letter-spacing: 4px;
}

input[type="submit"]:hover {
    padding: 5px;
    margin-top: 20px;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.712);
    font-weight: bold;
    letter-spacing: 4px;
    cursor: pointer;
}

.icon-wrapper {
    align-self: flex-end;
}

.icon-wrapper i {
    font-size: 150px;
    color: rgba(255, 255, 255, 0.555);
}

.error {
    position: absolute;
    top: 50px;
    right: 100px;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgba(179, 23, 23, 0.555);
}