<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home-authenticated.css">
    <title>Home for Authenticated</title>
</head>
<body>
    <!-- NAVIGATION COMPONENT -->
    <header class="wrap">
        <section class="nav-wrapper">
            <article class="logo-wrap">
                <h4>jShel</h4>
            </article>

            <article class="center-links">
                <nav>
                    <ul class="center-ul">
                        <!-- All USERS -->
                        <!-- FOR AUTHENTICATED AND GUEST ARE WITH DIFFERENT ROUTE AND PAGES -->
                        <li>
                            <a href="#">HOME</a>
                        </li>

                        <!-- AUTHENTICATED USERS -->
                        <li>
                            <a href="#">ADD HOTEL</a>
                        </li>
                        <li>
                            <a href="#">MY PROFILE</a>
                        </li>
                        <li>
                            <a href="#">FAVOURITES</a>
                        </li>
                    </ul>
                </nav>
            </article>

            <article class="right-links">
                <nav>
                    <ul class="right-ul">
                        <!-- GUEST USERS -->
                        <li>
                            <a href="#">LOGIN</a>
                        </li>
                        <li>
                            <a href="#">REGISTER</a>
                        </li>

                        <!-- AUTHENTICATED USERS -->
                        <li>
                            <a href="#">HALLO @username</a>
                        </li>
                        <li>
                            <a href="#">LOGOUT</a>
                        </li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>

    <main>
        <section class="wrap">

        </section>
    </main>

    <footer>
        <p>
            Darin Polizanov &copy;
        </p>
    </footer>
</body>
</html>