@import url('../body/body.css');
@import url('../nav/nav.css');
@import url('../footer/footer.css');

/* <!-- MY FAVOURITE AREA COMPONENT --> */
.my-favourite-area-component {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255), rgba(211, 35, 35, 0.2));
    background-color: rgb(228, 222, 196);
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.my-favourite-area-component-header {
    display: flex;
    justify-content: space-around;
}

.my-favourite-area-component-header h1 {
    padding-top: 10px;
    border-top: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.medal-icon {
    position: absolute;
    top: 100px;
    right: -93px;
    font-size: 200px;
    color: rgba(211, 35, 35, 0.644);
}

.hotels-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
    flex-wrap: wrap;
}


/* <!-- CURRENT HOTEL COMPONENT --> */
.cur-hotel {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255, 1), rgba(242,220,112, 0.2));
    width: 300px;
    height: 350px;
    margin: 0px 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42); 
    box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42);
}

.hotel-image-wrap {
    max-width: 300px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
}

.hotel-image-wrap img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
}

#center{
    text-align: center;
}

.see-more-btn {
    display: flex;
    justify-content: space-around;
}

.see-more-btn a {
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: rgb(238,216,108);
}

.see-more-btn a:hover {
    background-color: rgb(238,216,108);
    color: white;
}