.goldenHotel {
    background-image:
    linear-gradient(to top, rgb(255, 255, 255, 1), rgba(242,220,112, 0.2));
    width: 300px;
    height: 350px;
    margin: 0px 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42); 
    box-shadow: 0px 19px 32px -10px rgba(238,216,108,0.42);
}

.hotel {
    background-color: white;
    width: 300px;
    height: 350px;
    margin: 0px 10px 30px 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42); 
    box-shadow: 0px 19px 32px -10px rgba(0,0,0,0.42);
}

.imageWrap {
    display: flex;
    flex-direction: column;
}

.img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 300px;
    height: 200px;
}

.center {
    text-align: center;
}

.seeMoreBtn {
    display: flex;
    justify-content: space-around;
}

.goldLink {
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: rgb(238,216,108);
}

.goldLink:hover {
    background-color: rgb(238,216,108);
    color: white;
}

.link {
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: rgb(0,0,0);
}

.link:hover {
    background-color: rgb(0,0,0);
    color: white;
}



